<!-- Event Binding -->

<!-- Simple example -->
<p>Simple example</p>
<button (click)="onAddCart()">Add to Cart</button>
<br><br>
<p>Message to show when click on button</p>
<p>{{msg}}</p>
<br><br>

<!-- Example of using $event -->
<p>Used $event</p>
<input type="text" value="myinputtext" (click)="onInputClick($event)">
<br><br>

<!-- Example of using $event -->
<p>Used $event</p>
<button value="T.V." (click)="onAdd($event)">T.V.Machine</button>
<button value="Laptop" (click)="onAdd($event)">Laptop</button>
<button value="Mobile" (click)="onAdd($event)">Mobile</button>
<p>{{msg}}</p>